extends layout

block content
        
        br
        p.cnt Ты волен писать здесь все, что захочешь
        br
        form.form(action="" method="post")
            .input-submit
                input(type="text" name="input" class="form-input" placeholder="Введи сюда текст" action="/addcoment")
                input(type="button" class="form-submit btn" value="жмак")
            .coments
        script(src="script.js")
