extends layout

block content
    .main-wrapper
        h1 WELCOME TO MY FIRST WEBPAGE
        h6 (not actually the firstest)
        p Этот проект находится в 
            span(style="color: crimson; text-decoration:  underline;") тестовом
            |  режиме, будет заполняться и модерироваться по мере возможности"
        button Жмак
        p Вы только посмотрите на этого красавчика
        div.slider
            img(src="http://goo.gl/Z4uQff" class="weirdo")
            img(src="http://goo.gl/36QdNW" class="beauty")