html, body {
	padding: 0;
	margin: 0;
}

body {
	font-size: 18px;
	font-family: Robotico, sans-serif;
	color: AliceBlue;
	background: linear-gradient(-45deg, #35577D, #141E30);
	padding-bottom: 45%;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.main-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-left: 20px;
	border-left: 2px solid #26a2ab;
}

a {
	color:#FF0000;
	text-decoration: none;
}

.topBar {
	
	background-color: #26a2ab;
	padding: 10px;
	border: 2px solid rgb(24, 205, 222);
}

.topBar li {
	background-color: rgb(51, 181, 179);
	display: inline-block;
	height: auto;
	width: auto;
	border: 2px solid rgb(24, 205, 222);
	border-radius: 4px;
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
	margin: 5px 0;

}

.inside {
	height: 200px;
	width: 200px;
	text-align: center;
}

#container {
	width: 500px;
	margin-top: 20px;
}

#upside {
	left: 0;
	background-color: green;
	position: relative;
	z-index: 2;
	transition-property: left;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
	
}

#upside:hover {
	left: 200px;
}

#downside {
	background-color: red;
	position: absolute;
	z-index: 1;
}

.exp:hover {
	left: 300px;
}

button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.slider {
	max-height: 500px;
	max-width: 600px;
}

.beauty {
	left: 0px;
	height: 500px;
	width: 350px;
	position: relative;
	transition: left 1.5s ease;
}

.beauty:hover {
	left: 300px;
}

.weirdo {
	height: 500px;
	width: 350px;
	position: absolute;
}

.input-submit {
	width: 330px;
	margin: 10px auto;
}

.form-input {
	background-color: rgb(51, 181, 179);
	border: 1px solid rgb(34, 110, 108);
	border-radius: 4px;
	padding: 5px 10px;
	margin: 5px;
	color: #fff;
	text-overflow: ellipsis;
	width: 190px;
	min-height: 50px;
} 

.form-submit {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

.cnt {
	text-align: center;
}

.form-submit:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.newLine{
	margin: 10px 5px;
	padding: 5px;
	border: 1.2px solid rgb(51, 181, 179);
	border-radius: 3px;
	max-width: 310px;
	min-height: 30px;
	text-overflow: scroll;
	background-color: rgb(228, 240, 240);
	font-weight: 30px;
	color: black;
	margin: 5px auto;
}
